## **<u>CSCI 381: PHW#3S - Individual (Arnan Khan)</u>**

#### Chapter 6

Named Database: AdventureWorks

\[ChatGPT \*new\*  Generates Propositions\]( https://chatgpt.com/share/670fcc9e-bd20-800f-8a01-0e1dd896f7de )

# AdventureWorks Set Operators Questions

## 1\. Compare Person and Employees:

Find out which Persons are not listed as Employee by comparing the `Person` table and <span style="font-size: 12px;">Employee&nbsp;</span>  table.

In [10]:
WITH Non_Employees AS (
(
    SELECT BusinessEntityID
    FROM Person.Person
) 
EXCEPT
(
    SELECT BusinessEntityID
    FROM HumanResources.Employee
) 
)

SELECT TOP(5) FirstName, LastName
FROM Non_Employees as NE
INNER JOIN Person.Person as P on P.BusinessEntityID = NE.BusinessEntityID

FirstName,LastName
Gustavo,Achong
Catherine,Abel
Kim,Abercrombie
Humberto,Acevedo
Pilar,Ackerman

## 2. Compare Sales Territories:
Determine the regions where AdventureWorks has customers but has not yet made any sales by comparing `SalesTerritory` and `SalesOrderHeader` data.

In [19]:
SELECT DISTINCT ST.TerritoryID
FROM Sales.Customer as C
INNER JOIN Sales.SalesTerritory as ST on C.TerritoryID = ST.TerritoryID

EXCEPT

SELECT DISTINCT TerritoryID
FROM Sales.SalesOrderHeader

## 3. Products Sold vs Products Manufactured:
Find which products have been manufactured but have never been sold by comparing the `Product` and `SalesOrderDetail` tables.

In [27]:
WITH Product_NS AS
(
    (
        SELECT ProductID
        FROM Production.Product
    )
    EXCEPT
    (
        SELECT DISTINCT ProductID
        FROM Sales.SalesOrderDetail
    )
)

SELECT TOP(5) P.Name, P.ProductNumber, P.ListPrice
FROM Product_NS as NS
INNER JOIN Production.Product as P on NS.ProductID = P.ProductID
ORDER BY P.ListPrice DESC

Name,ProductNumber,ListPrice
"HL Road Frame - Black, 58",FR-R92B-58,1431.50
"HL Road Frame - Red, 58",FR-R92R-58,1431.50
"HL Road Frame - Red, 52",FR-R92R-52,1431.50
"HL Road Frame - Red, 56",FR-R92R-56,1431.50
"HL Road Frame - Black, 62",FR-R92B-62,1431.50

## 4. Sales Representatives who are Customers:
Identify the sales representatives who are also listed as customers by intersecting the `SalesPerson` and `Customer` tables.

In [28]:
Select * 
FROM Sales.SalesPerson

BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate
274,NULL,NULL,0.00,0.00,559697.5639,0.00,48754992-9ee0-4c0e-8c94-9451604e3e02,2010-12-28 00:00:00.000
275,2,300000.00,4100.00,0.012,3763178.1787,1750406.4785,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24 00:00:00.000
276,4,250000.00,2000.00,0.015,4251368.5497,1439156.0291,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24 00:00:00.000
277,3,250000.00,2500.00,0.015,3189418.3662,1997186.2037,39012928-bfec-4242-874d-423162c3f567,2011-05-24 00:00:00.000
278,6,250000.00,500.00,0.01,1453719.4653,1620276.8966,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24 00:00:00.000
279,5,300000.00,6700.00,0.01,2315185.611,1849640.9418,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24 00:00:00.000
280,1,250000.00,5000.00,0.01,1352577.1325,1927059.178,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24 00:00:00.000
281,4,250000.00,3550.00,0.01,2458535.6169,2073505.9999,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24 00:00:00.000
282,6,250000.00,5000.00,0.015,2604540.7172,2038234.6549,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24 00:00:00.000
283,1,250000.00,3500.00,0.012,1573012.9383,1371635.3158,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24 00:00:00.000
284,1,300000.00,3900.00,0.019,1576562.1966,0.00,ac94ec04-a2dc-43e3-8654-dd0c546abc17,2012-09-23 00:00:00.000
285,NULL,NULL,0.00,0.00,172524.4512,0.00,cfdbef27-b1f7-4a56-a878-0221c73bae67,2013-03-07 00:00:00.000
286,9,250000.00,5650.00,0.018,1421810.9242,2278548.9776,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23 00:00:00.000
287,NULL,NULL,0.00,0.00,519905.932,0.00,1dd1f689-df74-4149-8600-59555eef154b,2012-04-09 00:00:00.000
288,8,250000.00,75.00,0.018,1827066.7118,1307949.7917,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23 00:00:00.000
289,10,250000.00,5150.00,0.02,4116871.2277,1635823.3967,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23 00:00:00.000
290,7,250000.00,985.00,0.016,3121616.3202,2396539.7601,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23 00:00:00.000

## 5. Union of Products in Different Categories:
Generate a combined list of all products in the `Bikes` and `Clothing` categories by using a union of their respective product categories.

In [42]:
DROP FUNCTION IF EXISTS Production.SelectProductByCategory;
GO
CREATE OR ALTER FUNCTION Production.SelectProductByCategory(@Category VARCHAR(10))
RETURNS TABLE
RETURN(
    SELECT  P.Name as [Product Name], P.ProductID, P.ListPrice, PC.Name as [Category Name]
    FROM Production.Product as P
    INNER JOIN Production.ProductSubcategory as PSC ON P.ProductSubcategoryID = PSC.ProductSubcategoryID
    INNER JOIN Production.ProductCategory as PC ON PSC.ProductCategoryID = PC.ProductCategoryID
    WHERE PC.Name = @Category
);
GO

DECLARE @BikesName VARCHAR(10) = 'Bikes';
DECLARE @ClothingName VARCHAR(10) = 'Clothing';

(
    SELECT TOP (5) [Product Name], ProductID, ListPrice, [Category Name]
    FROM Production.SelectProductByCategory(@BikesName)
)

UNION

(
    SELECT TOP(5) [Product Name], ProductID, ListPrice, [Category Name]
    FROM Production.SelectProductByCategory(@ClothingName)
)

Product Name,ProductID,ListPrice,Category Name
AWC Logo Cap,712,8.99,Clothing
"Half-Finger Gloves, S",858,24.49,Clothing
"Men's Bib-Shorts, L",857,89.99,Clothing
"Men's Bib-Shorts, M",856,89.99,Clothing
"Men's Bib-Shorts, S",855,89.99,Clothing
"Mountain-100 Black, 38",775,3374.99,Bikes
"Mountain-100 Silver, 38",771,3399.99,Bikes
"Mountain-100 Silver, 42",772,3399.99,Bikes
"Mountain-100 Silver, 44",773,3399.99,Bikes
"Mountain-100 Silver, 48",774,3399.99,Bikes

## 6. Sales Orders without Shipments:
Determine which sales orders have not been shipped by comparing the `SalesOrderHeader` and `ShipMethod` tables.

## 7. All Employees and All Salespeople:
Create a combined list of all employees and salespeople, ensuring that each individual appears only once by using `UNION`.

## 8. Union of Orders by Country:
Combine all sales orders from customers located in the United States and Canada by querying the `SalesOrderHeader` and `Customer` tables, and then using `UNION`.

## 9. Difference in Online vs Physical Store Customers:
Find customers who have placed orders online but not in a physical store by comparing `SalesOrderHeader` and `SalesOrderDetail` with a set difference operation.

## 10. Common Customers for Two Products:
Determine which customers have purchased both `Product A` and `Product B` by using an intersection of their respective sales orders.