## **<u>CSCI 381: PHW#4 - Individual (Arnan Khan)</u>**

#### Chapter 8

Named Database: WideWorldImporters

\[ChatGPT \*new\*  Generates Propositions\]( <span style="color: var(--vscode-foreground);"><a href="https://chatgpt.com/share/672033c5-e61c-800f-9d92-13bf92fe08b4" data-href="https://chatgpt.com/share/672033c5-e61c-800f-9d92-13bf92fe08b4" title="https://chatgpt.com/share/672033c5-e61c-800f-9d92-13bf92fe08b4" is-markdown="true" is-absolute="false">https://chatgpt.com/share/672033c5-e61c-800f-9d92-13bf92fe08b4</a>&nbsp;</span>  <span style="color: var(--vscode-foreground);">)</span>

In [2]:
USE [WideWorldImporters]
DROP SCHEMA IF EXISTS PHW4
GO
CREATE SCHEMA PHW4

## Proposition 1
Create a new table called `TopCustomers` to store details of customers with the highest spending. Include columns for `CustomerID`, `CustomerName`, `TotalSpent`, and `LastOrderDate`.

In [12]:
DROP TABLE IF EXISTS PHW4.[TopCustomers]
CREATE TABLE PHW4.[TopCustomers]
(
    CustomerID  INT NOT NULL,
    CustomerName    VARCHAR(75) NOT NULL,
    TotalSpent  INT ,
    LastOrderDate   DATE,
    CONSTRAINT PK_TopCustomers PRIMARY KEY(CustomerID)
);

INSERT INTO PHW4.[TopCustomers] 
SELECT O.CustomerID, C.CustomerName, SUM(OL.UnitPrice * OL.Quantity), MAX(O.OrderDate)
FROM Sales.Orders as O 
INNER JOIN Sales.Customers as C ON O.CustomerID = C.CustomerID 
INNER JOIN Sales.OrderLines as OL ON O.OrderID = OL.OrderID
GROUP BY O.CustomerID, C.CustomerName

In [15]:
SELECT Top(5)* FROM PHW4.[TopCustomers]

CustomerID,CustomerName,TotalSpent,LastOrderDate
1,Tailspin Toys (Head Office),315404,2016-05-27
2,"Tailspin Toys (Sylvanite, MT)",240817,2016-05-14
3,"Tailspin Toys (Peeples Valley, AZ)",317243,2016-05-30
4,"Tailspin Toys (Medicine Lodge, KS)",310903,2016-04-28
5,"Tailspin Toys (Gasport, NY)",264001,2016-05-28

## Proposition 2
Update the `Customers` table by increasing the credit limit by 10% for customers who have placed more than 10 orders.

In [42]:
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [PHW4].[Customers]
GO
CREATE TABLE [PHW4].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[BillToCustomerID] [int] NOT NULL,
	[CustomerCategoryID] [int] NOT NULL,
	[BuyingGroupID] [int] NULL,
	[PrimaryContactPersonID] [int] NOT NULL,
	[AlternateContactPersonID] [int] NULL,
	[DeliveryMethodID] [int] NOT NULL,
	[DeliveryCityID] [int] NOT NULL,
	[PostalCityID] [int] NOT NULL,
	[CreditLimit] [decimal](18, 2) NULL,
	[AccountOpenedDate] [date] NOT NULL,
	[StandardDiscountPercentage] [decimal](18, 3) NOT NULL,
	[IsStatementSent] [bit] NOT NULL,
	[IsOnCreditHold] [bit] NOT NULL,
	[PaymentDays] [int] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[FaxNumber] [nvarchar](20) NOT NULL,
	[DeliveryRun] [nvarchar](5) NULL,
	[RunPosition] [nvarchar](5) NULL,
	[WebsiteURL] [nvarchar](256) NOT NULL,
	[DeliveryAddressLine1] [nvarchar](60) NOT NULL,
	[DeliveryAddressLine2] [nvarchar](60) NULL,
	[DeliveryPostalCode] [nvarchar](10) NOT NULL,
	[DeliveryLocation] [geography] NULL,
	[PostalAddressLine1] [nvarchar](60) NOT NULL,
	[PostalAddressLine2] [nvarchar](60) NULL,
	[PostalPostalCode] [nvarchar](10) NOT NULL,
	[LastEditedBy] [int] NOT NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo]),
    CONSTRAINT PK_Customers PRIMARY KEY(CustomerID)
) 


INSERT INTO PHW4.Customers
(
    CustomerID,
    CustomerName,
    BillToCustomerID,
    CustomerCategoryID,
    BuyingGroupID,
    PrimaryContactPersonID,
    AlternateContactPersonID,
    DeliveryMethodID,
    DeliveryCityID,
    PostalCityID,
    CreditLimit,
    AccountOpenedDate,
    StandardDiscountPercentage,
    IsStatementSent,
    IsOnCreditHold,
    PaymentDays,
    PhoneNumber,
    FaxNumber,
    DeliveryRun,
    RunPosition,
    WebsiteURL,
    DeliveryAddressLine1,
    DeliveryAddressLine2,
    DeliveryPostalCode,
    DeliveryLocation,
    PostalAddressLine1,
    PostalAddressLine2,
    PostalPostalCode,
    LastEditedBy
)
SELECT
    CustomerID,
    CustomerName,
    BillToCustomerID,
    CustomerCategoryID,
    BuyingGroupID,
    PrimaryContactPersonID,
    AlternateContactPersonID,
    DeliveryMethodID,
    DeliveryCityID,
    PostalCityID,
    CreditLimit,
    AccountOpenedDate,
    StandardDiscountPercentage,
    IsStatementSent,
    IsOnCreditHold,
    PaymentDays,
    PhoneNumber,
    FaxNumber,
    DeliveryRun,
    RunPosition,
    WebsiteURL,
    DeliveryAddressLine1,
    DeliveryAddressLine2,
    DeliveryPostalCode,
    DeliveryLocation,
    PostalAddressLine1,
    PostalAddressLine2,
    PostalPostalCode,
    LastEditedBy
FROM Sales.Customers;

In [43]:
SELECT TOP(5) C.CustomerID, MAX(C.CreditLimit) as [CreditLimit]
FROM PHW4.Customers as C 
INNER JOIN Sales.Orders as O ON C.CustomerID = O.CustomerID
GROUP BY C.CustomerID
HAVING COUNT(O.OrderID) > 10 AND MAX(C.CreditLimit) IS NOT NULL
ORDER BY [CreditLimit]

CustomerID,CreditLimit
843,1100.00
995,1100.00
1021,1100.00
937,1155.00
818,1155.00

In [44]:
UPDATE C
SET C.CreditLimit = C.CreditLimit * 1.1
FROM PHW4.Customers AS C
INNER JOIN(
    SELECT CustomerID
    FROM Sales.Orders
    GROUP BY CustomerID
    HAVING COUNT(OrderID) > 10
) as O ON C.CustomerID = C.CustomerID

In [45]:
SELECT TOP(5) C.CustomerID, MAX(C.CreditLimit) as [CreditLimit]
FROM PHW4.Customers as C 
INNER JOIN Sales.Orders as O ON C.CustomerID = O.CustomerID
GROUP BY C.CustomerID
HAVING COUNT(O.OrderID) > 10 AND MAX(C.CreditLimit) IS NOT NULL
ORDER BY [CreditLimit]

CustomerID,CreditLimit
843,1210.00
995,1210.00
1021,1210.00
937,1270.50
818,1270.50

## Proposition 3

Discount the prices of the stock items by 40% for the products that have less than 100 holdings in inventory.

In [52]:
SELECT SI.StockItemID, SI.UnitPrice
FROM Warehouse.StockItems as SI
JOIN Warehouse.StockItemHoldings as SIH ON SI.StockItemID = SIH.StockItemID
WHERE SIH.QuantityOnHand < 100

StockItemID,UnitPrice
77,18.00
78,18.00
80,18.00
86,18.00
95,18.00
98,18.00
184,3.50
193,3.70
204,32.00

In [53]:
UPDATE SI
SET SI.UnitPrice = SI.UnitPrice *.60
FROM Warehouse.StockItems as SI
JOIN Warehouse.StockItemHoldings as SIH ON SI.StockItemID = SIH.StockItemID
WHERE SIH.QuantityOnHand < 100

In [54]:
SELECT SI.StockItemID, SI.UnitPrice
FROM Warehouse.StockItems as SI
JOIN Warehouse.StockItemHoldings as SIH ON SI.StockItemID = SIH.StockItemID
WHERE SIH.QuantityOnHand < 100

StockItemID,UnitPrice
77,10.80
78,10.80
80,10.80
86,10.80
95,10.80
98,10.80
184,2.10
193,2.22
204,19.20

## Proposition 4

Alter the `Customers` table to add a new column called `LoyaltyPoints`, which tracks points for each customer. Initialize all current records with a value of `0`.

In [55]:
ALTER TABLE PHW4.Customers
ADD LoyaltyPoints INT DEFAULT 0;

## Proposition 5

Alter the `TopCustomers` Table to include a new colum called <span style="font-size: 12px;">HighSpending&nbsp;</span> that is a boolean. Set a 'true' if the value is \>300,000

In [61]:
ALTER TABLE PHW4.TopCustomers 
ADD HighSpending AS (CASE WHEN TotalSpent > 300000 THEN 1 ELSE 0 END);

In [62]:
SELECT TOP 5 * 
FROM PHW4.TopCustomers

CustomerID,CustomerName,TotalSpent,LastOrderDate,HighSpending
1,Tailspin Toys (Head Office),315404,2016-05-27,1
2,"Tailspin Toys (Sylvanite, MT)",240817,2016-05-14,0
3,"Tailspin Toys (Peeples Valley, AZ)",317243,2016-05-30,1
4,"Tailspin Toys (Medicine Lodge, KS)",310903,2016-04-28,1
5,"Tailspin Toys (Gasport, NY)",264001,2016-05-28,0