# **#1**

- **Proposition**: This query generates 5 copies of each employee from the `Employees` table by joining it with a number-generating table.
    
- **Tables Involved**: `TSQLV4.Employees` (aliased as `E`) and `TSQLV4.Nums` (aliased as `N`), where `Nums` contains a sequence of numbers.
    
- **SQL Functions Used**: `CROSS JOIN`, `WHERE`.
    
- **Output**: The query returns 5 rows for each employee, with each row having a unique number from the `Nums` table (from 1 to 5) alongside the employee's details.

In [1]:
USE TSQLV4
SELECT FullName AS Employee,
    n
FROM HR.Employees
CROSS JOIN dbo.Nums AS n
Where n <= 5
Order by n;

Employee,n
Sara Davis,1
Don Funk,1
Judy Lew,1
Yael Peled,1
Sven Mortensen,1
Paul Suurs,1
Russell King,1
Maria Cameron,1
Patricia Doyle,1
Sara Davis,2
Don Funk,2
Judy Lew,2
Yael Peled,2
Sven Mortensen,2
Paul Suurs,2
Russell King,2
Maria Cameron,2
Patricia Doyle,2
Sara Davis,3
Don Funk,3
Judy Lew,3
Yael Peled,3
Sven Mortensen,3
Paul Suurs,3
Russell King,3
Maria Cameron,3
Patricia Doyle,3
Sara Davis,4
Don Funk,4
Judy Lew,4
Yael Peled,4
Sven Mortensen,4
Paul Suurs,4
Russell King,4
Maria Cameron,4
Patricia Doyle,4
Sara Davis,5
Don Funk,5
Judy Lew,5
Yael Peled,5
Sven Mortensen,5
Paul Suurs,5
Russell King,5
Maria Cameron,5
Patricia Doyle,5

# **#1-2**

- **Proposition**: The query generates a row for each employee and each day within the range of June 12, 2016 to June 16, 2016.
    
- **Tables Involved**: `TSQLV4.Employees` (aliased as `E`) and `TSQLV4.Nums` (aliased as `N`).
    
- **SQL Functions Used**: `CROSS JOIN`, `DATEADD()`, `BETWEEN`.
    
- **Output**: The query returns a row for each employee and for each day from June 12, 2016, to June 16, 2016, with the `workdate` reflecting each day in that range.

In [ ]:
USE TSQLV4
DROP TABLE Dates
CREATE TABLE Dates(Date VARCHAR(100))
Insert into Dates
VALUES('2016-06-12'),('2016-06-13'),('2016-06-14'),('2016-06-15'),('2016-06-16')

SELECT empid as empid
From HR.Employees
CROSS JOIN Dates
ORDER BY empid

# **#2**

### Problem:

In the query, there’s a **mismatch in table alias usage**. The tables `Sales.Customers` and `Sales.Orders` are given aliases (`C` for `Customers` and `O` for `Orders`), but the query fails to use these aliases consistently. Specifically:

- In the `ON` clause, `Customers.custid` should reference the alias `C` instead of `Customers`.
- Similarly, in the `SELECT` clause, the aliases `C` and `O` should be used instead of `Customers` and `Orders`.

### Explanation of Fix:

1. **Table Aliases**: Use the aliases `C` for `Customers` and `O` for `Orders` consistently throughout the query, including in the `SELECT` and `ON` clauses.
2. **ON Clause**: In the corrected query, the condition `ON C.custid = O.custid` correctly references the aliased table names.
3. **SELECT Clause**: The corrected query uses `C.custid`, `C.companyname`, `O.orderid`, and `O.orderdate` to properly reference columns from the aliased tables.

This corrected version avoids ambiguity and ensures consistency in referencing the tables.

In [ ]:
USE TSQLV4
SELECT C.custid,
    C.companyname,
    O.orderid,
    O.orderdate
FROM Sales.Customers AS C
  INNER JOIN Sales.Orders AS O
    ON C.custid = O.custid;

# **#3**

- **Proposition**: The query retrieves US customers, along with the total number of orders they placed and the total quantities of products ordered.
    
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`), `TSQLV4.Orders` (aliased as `O`), and `TSQLV4.OrderDetails` (aliased as `OD`).
    
- **SQL Functions Used**: `INNER JOIN`, `COUNT()`, `SUM()`, `GROUP BY`, `WHERE`.
    
- **Output**: The query returns each US customer's ID and company name, the total number of orders they've placed, and the sum of all product quantities in those orders.

In [ ]:
USE TSQLV4
SELECT C.custid as custid,
    COUNT(O.orderid) as numorders,
    SUM(OD.qty) as totalqty
FROM Sales.Customers as C
INNER JOIN Sales.Orders AS O ON C.custid = O.custid
INNER JOIN Sales.OrderDetails AS OD ON O.orderid = OD.orderid
GROUP BY C.custid
ORDER BY custid

# **#4**

- **Proposition**: The query retrieves all customers and their associated orders, including customers who have not placed any orders.
    
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`) and `TSQLV4.Orders` (aliased as `O`).
    
- **SQL Functions Used**: `LEFT JOIN`.
    
- **Output**: The query returns each customer with their order details, showing `NULL` for `orderid` and `orderdate` for customers who have not placed any orders.

In [ ]:
USE TSQLV4
SELECT C.custid as custid,
    C.companyname,
    O.orderid,
    O.orderdate
FROM Sales.Customers AS C
LEFT JOIN Sales.Orders AS O on C.custid = O.custid

# **#5**

- **Proposition**: The query retrieves customers who have not placed any orders.
    
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`) and `TSQLV4.Orders` (aliased as `O`).
    
- **SQL Functions Used**: `LEFT JOIN`, `WHERE`, `IS NULL`.
    
- **Output**: The query returns a list of customers where no orders exist, displaying customers whose `orderid` is `NULL` because they have not placed any orders.

In [ ]:
USE TSQLV4
Select C.custid as custid,
    C.companyname
From Sales.Customers AS C
LEFT JOIN Sales.Orders AS O ON C.custid = O.custid
Where O.orderid IS NULL;

# **#6**

- **Proposition**: The query retrieves customers who placed orders on February 12, 2016, along with their corresponding order details.
    
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`) and `TSQLV4.Orders` (aliased as `O`).
    
- **SQL Functions Used**: `INNER JOIN`, `WHERE`.
    
- **Output**: The query returns customers who placed orders on February 12, 2016, along with their order IDs and order dates.

In [ ]:
USE TSQLV4
SELECT C.custid as custid,
    C.companyname as companyname,
    O.orderid as orderid,
    O.orderdate as orderdate
From Sales.Customers AS C
LEFT JOIN Sales.Orders AS O ON C.custid = O.custid
Where O.orderdate = '20160212'

# **#7**

- **Proposition**: The query retrieves all customers, and if a customer placed an order on February 12, 2016, it matches that customer with their order details; otherwise, the order information will be `NULL`.
    
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`) and `TSQLV4.Orders` (aliased as `O`).
    
- **SQL Functions Used**: `LEFT JOIN`, `AND`.
    
- **Output**: The query returns all customers. For customers who placed orders on February 12, 2016, their corresponding `orderid` and `orderdate` will be shown; for customers with no such orders, the order columns will be `NULL`.

In [17]:
USE TSQLV4;

WITH Feb12th AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate) AS OrderNum
    FROM Sales.Orders
    WHERE orderdate = '2016-02-12'
)


SELECT C.custid as custid,
    C.companyname as companyname,
    CASE WHEN O.OrderNum % 2 = 1 Then O.orderid ELSE NULL END AS orderid,
    CASE WHEN O.OrderNum % 2 = 1 Then O.orderdate ELSE NULL END AS orderdate
FROM Sales.Customers AS C
LEFT JOIN Feb12th AS O ON C.custid = O.custid;

custid,companyname,orderid,orderdate
1,Customer NRZBB,NULL,NULL
2,Customer MLTDN,NULL,NULL
3,Customer KBUDE,NULL,NULL
4,Customer HFBZG,NULL,NULL
5,Customer HGVLZ,NULL,NULL
6,Customer XHXJV,NULL,NULL
7,Customer QXVLA,NULL,NULL
8,Customer QUHWH,NULL,NULL
9,Customer RTXGC,NULL,NULL
10,Customer EEALV,NULL,NULL
11,Customer UBHAU,NULL,NULL
12,Customer PSNMQ,NULL,NULL
13,Customer VMLOG,NULL,NULL
14,Customer WNMAF,NULL,NULL
15,Customer JUWXK,NULL,NULL
16,Customer GYBBY,NULL,NULL
17,Customer FEVNN,NULL,NULL
18,Customer BSVAR,NULL,NULL
19,Customer RFNQC,NULL,NULL
20,Customer THHDP,NULL,NULL
21,Customer KIDPX,NULL,NULL
22,Customer DTDMN,NULL,NULL
23,Customer WVFAF,NULL,NULL
24,Customer CYZTN,NULL,NULL
25,Customer AZJED,NULL,NULL
26,Customer USDBG,NULL,NULL
27,Customer WMFEA,NULL,NULL
28,Customer XYUFB,NULL,NULL
29,Customer MDLWA,NULL,NULL
30,Customer KSLQF,NULL,NULL
31,Customer YJCBX,NULL,NULL
32,Customer YSIQX,NULL,NULL
33,Customer FVXPQ,NULL,NULL
34,Customer IBVRG,NULL,NULL
35,Customer UMTLM,NULL,NULL
36,Customer LVJSO,NULL,NULL
37,Customer FRXZL,NULL,NULL
38,Customer LJUCA,NULL,NULL
39,Customer GLLAG,NULL,NULL
40,Customer EFFTC,NULL,NULL
41,Customer XIIWM,NULL,NULL
42,Customer IAIJK,NULL,NULL
43,Customer UISOJ,NULL,NULL
44,Customer OXFRU,NULL,NULL
45,Customer QXPPT,10884,2016-02-12
46,Customer XPNIK,NULL,NULL
47,Customer PSQUZ,NULL,NULL
48,Customer DVFMB,10883,2016-02-12
49,Customer CQRAA,NULL,NULL
50,Customer JYPSC,NULL,NULL
51,Customer PVDZC,NULL,NULL
52,Customer PZNLA,NULL,NULL
53,Customer GCJSG,NULL,NULL
54,Customer TDKEG,NULL,NULL
55,Customer KZQZT,NULL,NULL
56,Customer QNIVZ,NULL,NULL
57,Customer WVAXS,NULL,NULL
58,Customer AHXHT,NULL,NULL
59,Customer LOLJO,NULL,NULL
60,Customer QZURI,NULL,NULL
61,Customer WULWD,NULL,NULL
62,Customer WFIZJ,NULL,NULL
63,Customer IRRVL,NULL,NULL
64,Customer LWGMD,NULL,NULL
65,Customer NYUHS,NULL,NULL
66,Customer LHANT,NULL,NULL
67,Customer QVEPD,NULL,NULL
68,Customer CCKOT,NULL,NULL
69,Customer SIUIH,NULL,NULL
70,Customer TMXGN,NULL,NULL
71,Customer LCOUJ,NULL,NULL
72,Customer AHPOP,NULL,NULL
73,Customer JMIKW,NULL,NULL
74,Customer YSHXL,NULL,NULL
75,Customer XOJYP,NULL,NULL
76,Customer SFOGW,10885,2016-02-12
77,Customer LCYBZ,NULL,NULL
78,Customer NLTYP,NULL,NULL
79,Customer FAPSM,NULL,NULL
80,Customer VONTK,NULL,NULL
81,Customer YQQWW,NULL,NULL
82,Customer EYHKM,NULL,NULL
83,Customer ZRNDE,NULL,NULL
84,Customer NRCSK,NULL,NULL
85,Customer ENQZT,NULL,NULL
86,Customer SNXOJ,NULL,NULL
87,Customer ZHYOS,NULL,NULL
88,Customer SRQVM,NULL,NULL
89,Customer YBQTI,NULL,NULL
90,Customer XBBVR,NULL,NULL
91,Customer CCFIZ,NULL,NULL

# **#8**

### Issues in the Query:

1. **Incorrect `WHERE` Clause**:  
    The `WHERE` clause is filtering on `O.orderdate = '20160212' OR O.orderid IS NULL`. This means the query first performs the `LEFT JOIN`, but then it **filters out** all rows where the `orderdate` is not `'20160212'`, except for the rows where `O.orderid` is `NULL`. As a result:
    
    - Customers who have placed orders on any date other than February 12, 2016, will be excluded, which violates the requirement to return **all** customers.
    - The `LEFT JOIN` behavior is partially canceled out by the `WHERE O.orderdate = '20160212'`, effectively making it behave more like an `INNER JOIN` for customers with orders.
2. **Date Format**:  
    The date `'20160212'` does not follow the standard `YYYY-MM-DD` format, which SQL Server expects for date literals. It should be `'2016-02-12'`.
    

  

The **correct** query should not filter customers in the `WHERE` clause. Instead, the condition for February 12, 2016, should be placed in the `ON` clause so that the `LEFT JOIN` retains **all customers** and only matches the orders placed on that specific date.  

  

### Explanation of the Fix:

- **Date Filter in the `ON` Clause**: By moving the date filter (`O.orderdate = '2016-02-12'`) into the `ON` clause, we ensure that the `LEFT JOIN` still includes all customers. For those customers who placed orders on February 12, 2016, the order details will be shown, while for other customers (or customers with no orders on that date), the `orderid` and `orderdate` columns will return `NULL`.

This way, the query meets the requirement of **returning all customers** and matching them with orders from **February 12, 2016**, if applicable.

In [ ]:
SELECT C.custid, C.companyname, O.orderid, O.orderdate
FROM Sales.Customers AS C
  LEFT OUTER JOIN Sales.Orders AS O
    ON O.custid = C.custid
WHERE O.orderdate = '20160212'
   OR O.orderid IS NULL;

# **#9**

- **Proposition**: The query retrieves all customers and indicates with a "Yes" or "No" value whether each customer placed an order on February 12, 2016.
    
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`) and `TSQLV4.Orders` (aliased as `O`).
    
- **SQL Functions Used**: `LEFT JOIN`, `CASE`, `WHEN`, `ELSE`.
    
- **Output**: The query returns a list of all customers along with a column `placed_order`, which will contain "Yes" for customers who placed an order on February 12, 2016, and "No" for those who did not place any orders on that date.

In [ ]:
USE TSQLV4;
WITH Feb12th AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate) AS OrderNum
    FROM Sales.Orders
    WHERE orderdate = '2016-02-12'
)
SELECT C.custid as custid,
    C.companyname as companyname,
    CASE WHEN O.OrderNum % 2 = 1 Then 'YES' ELSE 'NO' END AS orderid
FROM Sales.Customers as C
LEFT JOIN Feb12th as O ON O.custid = C.custid

# **Custom Proposition #1**

**Statement**: Return a list of products and their corresponding categories, including those categories that have no products assigned to them.

- **Proposition**: The query retrieves all categories and lists their corresponding products, including categories that have no products.
- **Tables Involved**: `TSQLV4.Categories` (aliased as `C`) and `TSQLV4.Products` (aliased as `P`).
- **SQL Functions Used**: `LEFT JOIN`.
- **Output**: The query returns each category along with its products; categories with no products will show `NULL` for product details.

In [ ]:
USE TSQLV4
SELECT C.categoryid, C.categoryname, P.productid, P.productname
FROM Production.Categories AS C
  LEFT JOIN Production.Products AS P ON C.categoryid = P.categoryid;

# **Custom Proposition #2**

**Statement**: Find the top 5 customers based on the total amount spent on orders, including their total expenditure and the number of orders they placed.

  

- **Proposition**: The query retrieves the top 5 customers by total expenditure on orders and counts the number of orders they placed.
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`), `TSQLV4.Orders` (aliased as `O`), and `TSQLV4.OrderDetails` (aliased as `OD`).
- **SQL Functions Used**: `INNER JOIN`, `SUM()`, `COUNT()`, `GROUP BY`, `ORDER BY`, `TOP`.
- **Output**: The query returns the top 5 customers with their IDs, names, total amount spent, and the total number of orders.

In [ ]:
USE TSQLV4
SELECT TOP 5 C.custid, C.companyname,
       SUM(OD.qty * OD.unitprice) AS total_spent,
       COUNT(O.orderid) AS total_orders
FROM dbo.Customers AS C
  INNER JOIN Sales.Orders AS O ON C.custid = O.custid
  INNER JOIN Sales.OrderDetails AS OD ON O.orderid = OD.orderid
GROUP BY C.custid, C.companyname
ORDER BY total_spent DESC;

# **Custom Proposition #3**

**Statement**: Retrieve all employees and their managers' names, displaying employees who do not have a manager with a null value for the manager’s name.

  

- **Proposition**: The query retrieves employees and their managers, displaying `NULL` for managers who do not exist.
- **Tables Involved**: `TSQLV4.Employees` (aliased as `E` for employees and `M` for managers).
- **SQL Functions Used**: `LEFT JOIN`.
- **Output**: The query returns employee details along with their managers’ names, where employees without managers will show `NULL` for the manager’s name.

In [2]:
SELECT E.employeeid, E.firstname, E.lastname,
       M.firstname AS manager_firstname, M.lastname AS manager_lastname
FROM TSQLV4.Employees AS E
  LEFT JOIN TSQLV4.Employees AS M ON E.managerid = M.employeeid;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'TSQLV4.Employees'.

# **Custom Proposition #4**

**Statement**: Get the monthly sales totals for each product category for the year 2023, including categories with zero sales for that year

  

- **Proposition**: The query retrieves monthly sales totals for each product category for 2023, including categories with no sales.
- **Tables Involved**: `TSQLV4.Categories` (aliased as `C`), `TSQLV4.Products` (aliased as `P`), `TSQLV4.OrderDetails` (aliased as `OD`), and `TSQLV4.Orders` (aliased as `O`).
- **SQL Functions Used**: `LEFT JOIN`, `SUM()`, `MONTH()`, `YEAR()`, `GROUP BY`, `ORDER BY`.
- **Output**: The query returns each category's ID and name, along with the month and total sales; categories with no sales will show `NULL` for `total_sales`.

In [ ]:
USE TSQLV4
SELECT C.categoryid, C.categoryname, 
       MONTH(O.orderdate) AS month,
       SUM(OD.qty * OD.unitprice) AS total_sales
FROM Production.Categories AS C
  LEFT JOIN Production.Products AS P ON C.categoryid = P.categoryid
  LEFT JOIN Sales.OrderDetails AS OD ON P.productid = OD.productid
  LEFT JOIN Sales.Orders AS O ON OD.orderid = O.orderid AND YEAR(O.orderdate) = 2023
GROUP BY C.categoryid, C.categoryname, MONTH(O.orderdate)
ORDER BY C.categoryid, month;

# **Custom Proposition #5**

**Statement**: Return the average order value for each customer who has placed at least one order, along with the number of orders they placed.

  

- **Proposition**: The query retrieves the average order value for each customer who has placed at least one order, along with the total number of orders.
- **Tables Involved**: `TSQLV4.Customers` (aliased as `C`), `TSQLV4.Orders` (aliased as `O`), and `TSQLV4.OrderDetails` (aliased as `OD`).
- **SQL Functions Used**: `INNER JOIN`, `AVG()`, `COUNT()`, `GROUP BY`.
- **Output**: The query returns each customer’s ID and name, along with their average order value and total number of orders.

In [ ]:
USE TSQLV4

SELECT C.custid, C.companyname,
       AVG(OD.qty * OD.unitprice) AS average_order_value,
       COUNT(O.orderid) AS total_orders
FROM Sales.Customers AS C
  INNER JOIN Sales.Orders AS O ON C.custid = O.custid
  INNER JOIN Sales.OrderDetails AS OD ON O.orderid = OD.orderid
GROUP BY C.custid, C.companyname;